@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


@code {
    public interface IStudent
    {
        public void addStudent() { }
        public void removeStudent() { }
        //string editStudent();
    }  

    public class Student : IStudent
    {
        public required string Name { get; set; }
        public int Betyg { get; set; }

        List<Student> students = new List<Student> {
            new() { Name = "Arber", Betyg = 5},
            new() { Name = "Person", Betyg = 0},
        };
        public static void addStudent(List<Student> students, string name, int betyg) {
            students.Add(new Student() { Name = name, Betyg = betyg });
        }

        public void removeStudent() {
            //students.Remove()
        }
    }
}